<div class="container">
  <div class="col-sm-8 col-centered">
    <h3 class="text-center">Order Status
      <button (click)="OnRefresh()"
              style="background-color: Transparent; border: none"
              class="glyphicon glyphicon-refresh">
      </button>
    </h3>
    <hr>
    <strong *ngIf="orders.length==0" class="text-info">Currently have no orders</strong>
    <div class="col-sm-8 col-centered">
      <app-order-entry *ngFor="let order of orders; let i = index"
                       [order]="order"
      >
      </app-order-entry>
    </div>
  </div>
</div>

