<div class="list-group-item"
    style="cursor: pointer;"
     appPickupItem
    (selected)="OnSelected()"
    (unselected)="OnUnSelected()"
>
  <div class="list-group-item-heading"><strong>Username</strong>: {{ order.username }}</div>
  <div class="row col-xs-offset-0">
    <strong>Description</strong><small>:{{ order.description }}</small>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <strong>Address</strong><small>: {{ order.address }}</small>
    </div>
    <div>
      <strong>Contact</strong><small>: {{ order.contact }}</small>
    </div>
  </div>
  <div class="row text-center" *ngIf="selected">
    <p class="text-danger">{{ WarningMsg }}</p>
    <br>
    <button class="btn btn-success" (click)="OnClick()">delivered</button>
  </div>
</div>
